/bigclonebench/**/*.xml
/bigclonebench-stmt/**/*.xml
/data/
/evaluation/**/*.xml
/output/
/performance/
/target/
!/target/DrDupLex-1.0-jar-with-dependencies.jar
/verification/**/*.xml
/verification-stmt/**/*.xml
/verification-stmts/**/*.xml
/**/*.bin